body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
}
nav {
    width: 100%;
    background-color: #1d89e4;
    display: flex;
}
.container {
  width: 70%;
  margin: auto;
  position: relative;
}

nav {
    width: 100%;
    height: 50px;
}

.site-name h1{
    line-height: 50px;
    font-weight: 400;
    margin-block-start:unset;
    margin-block-end:unset;
}
nav .menu ul {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    list-style: none;
    padding-inline-start:unset;
    margin-block-start:unset;
    margin-block-end:unset;
    margin-top:unset;
}
nav .menu ul li {
    float:left;
}
nav .menu ul li a {
    color:#fff;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
}
.site-name {
    color:#fff;
    height: 100%;
}
.site-name a {
    color:#fff;
    text-decoration: none;
}
.active {
    background-color: #1b7ace;
}
.not-active:hover {
    background-color: #1b7ace;
}

.site-title {
    padding-top: 20px;
    margin:20px auto;
    width:fit-content;
    font-size: 25px;
    font-weight: bold;
}
.site-title h1 {
    margin-block-start:unset;
    margin-block-end:unset;
}
.summary {
    width: fit-content;
    margin: 0 auto;
}
.tags {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.tag {
    background-color: #e4e4e4;
    width: fit-content;
    margin: 5px;
    padding: 5px 7px;
    font-size: small;
    font-weight:600;
    color: #59595b;
    border-radius: 15px;

}
.tag a {
    color: #59595b;
    text-decoration: none;
}
.tag:hover {
    background-color: #c6c5c5;
    transition: .3s ease;
}
.blog-posts {
    width: fit-content;
    margin:45px auto;
    display: block;
    columns: 3;
    gap: 33px;
}
.blog-post {
    position: relative;
    margin-bottom: 33px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,.75);
    height: fit-content;
    color: #979797;
    break-inside: avoid;
}
.blog-post:hover {
    box-shadow: 0px 3px 7px -3px rgba(0,0,0,1);
    transition: .2s ease;
}
.blog-post a {
    text-decoration: none;
    color:#979797;
}
.arrow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    right:30px;
    top: 315px;
    background-image: url("../images/right.png");
    background-color: #42a5f6;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.65);
    transition: .3s ease-in-out;
}


.arrow:hover {
    background-image: url("../images/double-right.png");
  background-position: center;
  transition: .3s ease-in-out;
}

.post-image {
    border-radius: 3px 3px 0 0;
    background-image: url("../images/blogPost.png");
    width: 100%;
    height: 340px;
    background-size: cover;
    background-position: center;

}
.post-content {
    text-align: left;
    margin: 12px;
    padding:2px 0px;
}
.post-content p {
    margin-block-start:unset;
    margin-block-end:unset;
    font-size:small;
}
.post-content a time {
    font-size: smaller;
    margin-left: 15px;
}
.post-title {
    text-transform: uppercase;
    color: #212121;
    font-weight: bolder;
    font-size: 29px;
    margin: 12px;
}
.post-title h4 {
    margin-block-start:unset;
    margin-block-end:unset;
}

.pagination {
    display:flex;
    width: fit-content;
    margin: 10px auto;
}
.pagination a {
    color: #59595b;
    float: left;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: 2px;
}
.pagination .active {
    background-color: #1d89e4;
    color: #fff;
}
.pagination a.not-active:hover {
    background-color: #a2a2a2;
    color: #fff;
    transition: .2s ease-in-out;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #1661b4;
    color: #fff;
    position: relative;
}
footer .footer-content {
    width: fit-content;
    margin: auto;
    line-height: 50px;
}

@media only screen and (max-width: 1366px) {
  .post-content {
    font-size: 11px;
  }
  .post-title {
    font-size: 20px;
  }
  .post-image {
    height: 250px;
  }
  .arrow {
    width: 34px;
    height: 34px;
    top:233px;
  }
  .date{
    font-size: 11px;
  }
  }
  .tag {
    font-size: 12px;
  }
}
